/* propiedades body */

body{
	background-image: url('https://img.freepik.com/vector-premium/gente-corriendo-corriendo_18591-40102.jpg?w=740');
	background-repeat: no-repeat;
	font-family: arial;
	margin: 0;
	padding: 0;
}

header{
	background-color: #1e5e5b;
	width: 100%;
	padding: 5px 10px;
	color: #7bccc9;
}

header h1{
	margin: 0;
	width: 100%;
	text-align: center;
}

nav{
	background-color: #2b817d;
	width: 100%;
	padding: 5px 10px;
}

nav span{
	margin: 100px;
	padding: 2px 5px;
	border-radius: 5px;
}

nav span:hover{
	background-color: #1e5e5b;
	transition: 1s;
}

nav a{
	text-decoration: none;
	color: aliceblue;
}

/* Comtenido del primer div */

div#contenedorFormulario #titulo{
	margin: 5px 0px;
}

div#contenedorFormulario{
	background-color: #7bccc9;
	margin: auto;
	width: 450px;
	padding: 10px 20px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 8px #1e5e5b;
	margin-top: 130px;
	color: white;
}

div#contenedorFormularioRetos #titulo{
	margin: 5px 0px;
}

div#contenedorFormularioRetos{
	background-color: #7bccc9;
	margin: auto;
	width: 450px;
	padding: 10px 20px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 8px #1e5e5b;
	margin-top: 20px;
	color: white;
}

div#contenedorFormularioRetos form{
	width: 200px;
	margin: auto;
}

div#contenedorFormularioRetos form #boton{
	margin: auto;
}

/* Estilos del formulario */

div#contenedorFormulario #formulario{
	margin-bottom: 10px;
}

form#formulario label{
	font-weight: bold;
}

form#formulario #cajaTexto{
	border: none;
	margin-left: 5px;
	box-shadow: 2px 2px 5px #1e5e5b;
}

form#formulario #boton{
	border: none;
	background-color: white;
	color: #1e5e5b;
	font-weight: bold;
	box-shadow: 3px 3px 6px #1e5e5b;
	border-radius: 5px 5px 5px 5px;
	width: 70px;
	height: 25px;
	margin-left: 20px;
}

/* Comtenido del segundo div */

div#contenedorTabla{
	background-color: #7bccc9;
	margin: auto;
	width: 420px;
	padding: 20px 30px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 8px #1e5e5b;
	margin-top: 50px;
}

div#contenedorTabla #aniadir{
	border: none;
	background-color: white;
	color: #1e5e5b;
	font-weight: bold;
	box-shadow: 3px 3px 6px #1e5e5b;
	border-radius: 5px 5px 5px 5px;
	width: 200px;
	padding: 5px;
	margin: auto;
	text-align: center;
	margin: 15px;
}



.volver{
	border: none;
	background-color: white;
	color: #1e5e5b;
	font-weight: bold;
	box-shadow: 3px 3px 6px #1e5e5b;
	border-radius: 5px 5px 5px 5px;
	width: 200px;
	padding: 5px;
	margin: auto;
	text-align: center;
	margin-bottom: 15px;
}

/* Estilos de la tabla Categorías */

div#contenedorTabla table{
	background-color: white;
	margin: auto;
	border-collapse: collapse;
}

table th, td, tr{
	border: 1px solid #1e5e5b;
	padding: 5px;
}

table thead{
	background-color: #1e5e5b;
	color: white;
}

div#contenedorTabla #botonAniadir{
	border: none;
	background-color: white;
	color: #1e5e5b;
	font-weight: bold;
	box-shadow: 3px 3px 6px #1e5e5b;
	border-radius: 5px 5px 5px 5px;
	width: 70px;
	height: 25px;
	margin-bottom: 15px;
}

div#contenedorRetos{
	background-color: #7bccc9cb;
	margin: auto;
	width: 90%;
	padding: 20px 30px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 8px #1e5e5b;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div#contenedorRetos div.cajasRetos{
	border: none;
	background-color: white;
	color: #1e5e5b;
	font-weight: bold;
	box-shadow: 3px 3px 6px #1e5e5b;
	border-radius: 5px 5px 5px 5px;
	width: 150px;
	text-align: center;
	height: 30px;
	margin-bottom: 15px;
}

div#contenedordetalles{
	background-color: #7bccc9cb;
	margin: auto;
	width: 50%;
	padding: 20px 30px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 8px #1e5e5b;
	margin-top: 50px;
	font-size: large;
	
}

div#contenedordetalles h1{
	text-align: center;
	background-color: #133f3d;
	color: white;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 8px #1e5e5b;
}

div#contenedordetalles span{
	font-weight: bold;
	color: #133f3d;
	margin-left: 100px;
}

.cajasRetos a{
	text-decoration: none;
	color: #133f3d;
}

#anadirReto{
	font-size: 30px;
}